#player_cmd:      arradio-player
#ui_theme:        basic

output_limit:     200
output_filter:    simple

no_cache:         0
no_color:         0
debug:            0

enable_shoutcast: 1
enable_somafm:    1
enable_iptv:      1

iptv_url:         https://raw.githubusercontent.com/iptv-org/iptv/refs/heads/master/streams/es.m3u
